<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coisas Emprestadas</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div id="container">
        <section id="containersection">
            <h1>Coisas Emprestadas</h1>
            <p>Insira seus dados para login abaixo</p>
        </section>
        <main id="containermain">
            <div>
                <input type="email" name="email" id="email" class="campos" placeholder="Digite seu E-mail">
                <input type="password" name="psword" id="psword" class="campos" placeholder="Digite sua senha">
            </div>
            <div id="container-btn">
                <input type="submit" value="Entrar" id="btn-entrar">
                <input type="submit" value="Cadastrar" id="btn-cadastro">
            </div>
        </main>
    </div>
</body>
</html>