<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coisas Emprestadas</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
     <section class="containerbody">
         <!-- Cabeçalho -->
         <header id="header">
            <a id="logo" href="/index.html">Coisas Emprestadas</a>
            <nav id="nav">
                <!-- Menu Haburguer -->
                <button id="btn-mobile" aria-label="Abril Menu" aria-haspopup="true" aria-controls="menu">Menu
                    <span id="hamburguer" aria-expanded="false"></span>
                </button>
                <ul id="menu" role="menu">
                    <li><a href="/components/cadastro.html">Cadastro</a></li>
                    <li><a href="/components/produtos.html">Produtos</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Adminstrativo</a></li>
                </ul>
            </nav>
             </header>

            <h1 class="titulo-pag">LISTA DE PRODUTOS</h1>

            <section id="quadro">
                <section  class="qdCadastro">
                    <h1>PRODUTO 1</h1>
                    <div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    </div>
                </section>
                <section  class="qdCadastro">
                    <h1>PRODUTO 2</h1>
                    <div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    </div>
                </section>
                <section  class="qdCadastro">
                    <h1>PRODUTO 3</h1>
                    <div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    </div>
                </section>
                <section  class="qdCadastro">
                    <h1>PRODUTO 4</h1>
                    <div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    </div>
                </section>
                <section  class="qdCadastro">
                    <h1>PRODUTO 5</h1>
                    <div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    </div>
                </section>
                <section  class="qdCadastro">
                    <h1>PRODUTO 6</h1>
                    <div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    </div>
                </section>
            </section>
     </section>

</body>
</html>